version: 2
updates:
  - package-ecosystem: "pip"
    directory: "."
    schedule:
      interval: "daily"
    labels:
      - "build-docker"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "build-docker"